*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.calculator{
    width: 30%;
    /* max-width: 90%; */
    padding: 30px;
    height: 80%;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-box{
    width: 100%;
    height: 40%;
    background-color: antiquewhite;
    padding: 10px;
    
}


#numInput {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border-radius: 5px;
  background-color: rgb(251, 252, 253);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px inset,
              rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  resize: none; /* prevents resizing */
  padding: 10px;
}

.key-box{
    width: 100%;
    height: 80%;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* aspect-ratio: 1/1; */
    align-content: center;
    justify-content: center;
}


button{
    border: none;
}

.keys, .spl_keys{
    width: 17%;
    height: 40%;
    margin: 5px;
    background-color:rgb(255, 255, 255);
    color: rgba(20, 127, 225, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-grow: 1;
    cursor: pointer;
}

.keys:hover, .spl_keys:hover{
    background-color:rgba(20, 127, 225, 1);
    color: white;
}

#submit-key{
    flex-grow: 0.95;
}

#clear-key{
    background-color: rgb(216, 5, 5);
    color: #ffff;
}

#bracket-key{
    display: none;
}


#submit-key{
    background-color: rgb(1, 201, 25);
    color: #ffff;
    flex-grow: 40;
}

/* box for input keys */

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: right;
}



@media (max-width: 1358px) {
    

    .calculator{
    min-width: 70%;

    }

    .key-box{
   
    padding: 5px;
  
    }

    .keys, .spl_keys{
    width: 16%;
    height: 35%;
    margin: 5px;
    background-color:rgb(255, 255, 255);
    color: rgba(20, 127, 225, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-grow: 1;
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: right;
    gap: 5px;
}



}



@media (max-width: 600px) {

 .calculator{
    min-width: 90%;
    padding: 10px;
    }

    .keys, .spl_keys{
    width: 15%;
    font-size: 1rem;
    margin: 2px;

}

}